---
layout: default
title: Committee to Stop a Bad Cure
published: true
---

<div id="home">
  <div class="jumbotron">
    <h1>Vote NO! Nov 5</h1>
    <p class="lead">Medical research is good, but the proposed half-cent sales tax is a <em>Bad Cure</em> for Jackson County.</p>
  </div>
  <div class="row">
  {% for post in site.tags.hero %}
    {% if post.url == '/the-august-ambush' %}
    <div class="col-md-7">
    {% else %}
    <div class="col-md-5">
    {% endif %}
      <h2>{{ post.title }}</h2>
      {{ post.excerpt }}
      <p><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
    </div>
  {% endfor %}
  </div>
  <ul class="posts">
  {% for post in site.posts %}
    {% unless post.url == '/the-august-ambush' or post.url == '/about-us' %}
    <li>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endunless %}
  {% endfor %}
  </ul>
</div>