---
layout: default
title: Committee to Stop a Bad Cure
published: true
---

<div id="home">
  <div class="jumbotron">
    <h1>Vote NO! Nov 5</h1>
    <p class="lead">The proposed half-cent sales tax is a <em>Bad Cure</em> for Jackson County.</p>
  </div>
  <div class="row">
  {% for post in site.tags.lead %}
    {% if post.url == '/how-we-started' %}
    {% assign col = 'col-md-5' %}
    {% assign words = '27' %}
    {% else %}
    {% assign col = 'col-md-7' %}
    {% assign words = site.excerpt %}
    {% endif %}
    <div class="{{ col }}">
      <h2>{{ post.title }}</h2>
      <p>{{ post.content | strip_html | truncatewords:words }} &mdash; <a href="{{ post.url }}">Read more</a></p>
    </div>
  {% endfor %}
  </div>
  <ul class="posts">
  {% for post in site.posts %}
    {% unless post.tags contains 'lead' %}
    <li>
      {{ post.date | date: "%b %d, %Y" }} &middot; <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endunless %}
  {% endfor %}
  </ul>
</div>
